@{
    ViewData["Title"] = "Create discussion";
}

<div class="text-center">
    <form method="post" class="text-start">
        <label>Discussion topic</label>
        <input type="text" name="title" value="New Discussion" /><br /><br />

        <input type="submit" value="Create"/>
    </form>
</div>
